<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scarapper</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
<main class="container">
    <hgroup>
        <h1>"{{keyword}}" 의 검색 결과</h1>
        <a target="_blank" href="/export?keyword={{keyword}}">파일로 저장하기</a>
    </hgroup>
   <figure>
   <table role="grid">
    <thead>
        <tr>
            <th>제목</th>
            <th>회사</th>
            <th>근무 지역</th>
            <th>자세히 보기</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{job.position}}</td>
            <td>{{job.company}}</td>
            <td>{{job.location}}</td>
            <td><a href="{{job.link}}" target="_blank">지원하기 &rarr;</a></td>
        </tr>
    {% endfor %}
    </tbody>
   </table>
 </figure>
</main>
</body>
</html>